<script type="text/javascript">

    require(["widget/real/all/contatorePrestazioni"], function(manager){
        var name = '$widgetName';
        var header = '$widgetParams';
        var contatore = new manager.contatore(name, header);
        contatore.init();

    });

</script>

<div class="panel-heading">
    <span class="panel-title">Contatore prestazioni</span>
    <span class="panel-controls">
        <a class="panel-control-loader" href="#"></a>
        <a class="panel-control-remove" href="#"></a>
         <a class="panel-control-title" href="#"></a>
        <a class="panel-control-color" href="#"></a>
        <a class="panel-control-collapse" href="#"></a>
        <a class="panel-control-fullscreen" href="#"></a>
    </span>
</div>

<div class="panel-body contatore-prestazioni-container">

    <div id="high-pie-contatore-prestazioni" style="height: 300px;width: 100%">

    </div>

    <div class="containerValuesTileCI">



    </div>

##davide lascia in ogni vista di widget questo codice che
##mi consentirà in ogni cotroller di valorizzare la lista dei territori
##guarda il controller
    <div class="param-fields-container" style="display: none">


        <input type="hidden" name="hidden-year" value="$anno">
        <input type="hidden" name="hidden-month" value="$mese">

        <select name="month">

            #foreach ($m in $mesi)
                <option value="$m" >$m</option>
            #end
        </select>
        <select name="year">
            #foreach ($number in [1990..2050])
                <option value="$number">$number</option>
            #end
        </select>
    </div>

</div>

<div class="containerTileCI" style="display: none">

    <div class="panel-tile text-center elemToAppend col-md-6 col-xs-12 mb20">
        <div class="panel-body bg-light">
            <h4 class="mbn info mb10">18,020</h4>
        </div>
        <div class="panel-footer bg-light dark br-t br-light p12">
            <span class="fs11">
              <b>ANNO</b>
            </span>
        </div>
    </div>

</div>