#parse("/shared/framework.vm")

<div class="worker-summary-header" data-id="">

    <div class="col-md-3">

        <div class="col-md-12 col-xs-12 zero-padding" style="background-color: white; border-bottom: 1px solid #DDD; margin-top:10px">

            <div class="media clearfix">

                <div class="col-md-12 col-xs-12 p20">
                    #if(!$summary.data.image || $summary.data.image == "")
                        #if ($summary.data.name != "" && $summary.data.surname != "")
                            #set($initials = "$summary.data.name.charAt(0)$summary.data.surname.charAt(0)")
                        #else
                            #set($initials = "")
                        #end
                        #set($userImg = "dynaimg/" + $initials + "?size=30x30")
                    #else
                        #set($userImg = $summary.data.image + "?size=30x30")
                    #end
                    <div class="col-md-2 col-xs-2 zero-padding-left">
                        <img src="${wwwBase}$userImg" alt="avatar" class="br64 mrd15" style="width: 50px;height: 50px;">
                    </div>
                    <div class="col-md-10 col-xs-10 zero-padding pl20">
                        <div class="col-md-12 col-xs-12 zero-padding">
                            #if ($existSMSCredentials)
                                <button data-toggle="tooltip" data-placement="left" title="Invia SMS" type="button" class="btn btn-primary pull-right p0 mr5 btn-send-sms border-radius-3" style="width: 40px;height: 40px;"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                <button data-toggle="tooltip" data-placement="left" title="Credito residuo SMS" type="button" class="btn btn-primary pull-right p0 mr5 btn-residual-credit border-radius-3" style="width: 40px;height: 40px;"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></button>
                            #end
                        </div>
                    </div>

                    #if($summary.data.cellphone && $summary.data.cellphone!="")
                        <div class="col-md-12 col-xs-12 fs14 mt10">
                            <span>Cellulare:</span><span class="ml10">$summary.data.cellphone</span>
                        </div>
                    #end


                </div>


                <div class="va-m mt10">

                    <div class="col-md-12 col-xs-12 p20">

                        <input type="hidden" name="id" id="id" value="$summary.data.id"/>

                        <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Consenso al trattamento dati personali:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.privacy)<i class="fa fa-check" style="color:green"></i>#end</span>
                            </div>
                        </div>


                        <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Nome:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.name)$summary.data.name#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Cognome:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.surname)$summary.data.surname#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Data di nascita:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.birthDate)$localization.formatDate($summary.data.birthDate)#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Nazionalità:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.nationality)$summary.data.nationality#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Provincia di nascita:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.birthProvince)$summary.data.birthProvince#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Comune di nascita:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.birthPlace)$summary.data.birthPlace#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>C.F.:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.fiscalcode)$summary.data.fiscalcode#end</span>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-12 col-xs-12 zero-padding">

                        <div class="col-md-12 col-xs-12 zero-padding back-blue-color-white" style="padding-top: 0px;padding-bottom: 0px">

                            #if($roleId == 3 || $roleId == 4 || $roleId == 5)
                                <span class="glyphicon glyphicon-print print color-dark-blue cursor-pointer" aria-hidden="true" style="z-index: 100;font-size: 16px;position: absolute;top: 10px;right: 10px"></span>
                            #end


                            <div class="col-md-12 col-xs-12 full-height padding-bottom-20 padding-top-20">

                                <button
                                        type="button"
                                        class="btn back-white img-center box-shadow-button mt25"
                                        style="width: 100px;height: 70px;"
                                        data-toggle="popover"
                                        data-trigger="hover">

                                    #if($summary.iscrittoData.iscritto)

                                        #if($summary.iscrittoData.delega == true)

                                            <span class="color-green"><i class="material-icons font-size-36">sentiment_satisfied</i></span>
                                        #else

                                            <span class="color-jellow"><i class="material-icons font-size-36">sentiment_satisfied</i></span>
                                        #end


                                    #else
                                        <span class="color-red"><i class="material-icons font-size-36">sentiment_dissatisfied</i></span>
                                    #end

                                </button>

                                #if($summary.iscrittoData.iscritto)
                                    <p class="text-center mt10">Iscritto</p>
                                #else
                                    <p class="text-center mt10">Non iscritto</p>
                                #end

                            </div>


                            #if($summary.iscrittoData.iscritto)
                                <div class="col-md-12 col-xs-12 zero-padding margin-bottom-20 popover-content-div" style="display: none">


                                    <div class='col-md-12 col-xs-12 p5 zero-padding border-bottom-light-gray'>
                                        <div class='col-md-6 col-xs-6 zero-padding'>
                                            <span>Azienda:</span>
                                        </div>
                                        <div class='col-md-6 col-xs-6 zero-padding'>
                                            <span class='pull-right'>#if($summary.iscrittoData.azienda)$summary.iscrittoData.azienda#end</span>
                                        </div>
                                    </div>
                                    <div class='col-md-12 col-xs-12 p5 zero-padding border-bottom-light-gray'>
                                        <div class='col-md-6 col-xs-6 zero-padding'>
                                            <span>Periodo:</span>
                                        </div>
                                        <div class='col-md-6 col-xs-6 zero-padding'>
                                            <span class='pull-right'>#if($summary.iscrittoData.periodo)$summary.iscrittoData.periodo#end</span>
                                        </div>
                                    </div>
                                    <div class='col-md-12 col-xs-12 p5 zero-padding border-bottom-light-gray'>
                                        <div class='col-md-6 col-xs-6 zero-padding'>
                                            <span>Settore:</span>
                                        </div>
                                        <div class='col-md-6 col-xs-6 zero-padding'>
                                            <span class='pull-right'>#if($summary.iscrittoData.settore)$summary.iscrittoData.settore#end</span>
                                        </div>
                                    </div>


                                </div>
                            #end


                            <div class="col-md-12 col-xs-12 zero-padding tessera-content-div" style="display: none">
                                <div class="col-md-12 col-xs-12 tessera-printed">
                                    #if($summary.tesseraData)
                                        <div class="col-md-12 col-xs-12">
                                            <span class="text-bold">Tessera stampata da</span>
                                        </div>
                                        <div class="col-md-12 col-xs-12 padding-10">
                                            <div class="col-md-6 col-xs-6 zero-padding">
                                                <span>$summary.tesseraData.printedFrom</span>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <span class="pull-right">$summary.tesseraData.date</span>
                                            </div>
                                        </div>
                                    #else
                                        <div class="col-md-12 col-xs-12">
                                            <span class="text-bold">Tessera non posseduta.</span>
                                        </div>
                                    #end
                                </div>

                            ## altre tessere
                                <div class="col-md-12 col-xs-12 other-tessere-printed margin-top-20">
                                    <div class="col-md-12 col-xs-12">
                                        <span class="text-bold">Altre tessere stampate</span>
                                    </div>
                                    #if ($summary.otherTessereData.size() == 0)
                                        <div class="col-md-12 col-xs-12 padding-10">
                                            <span class="">Non sono presenti altre tessere.</span>
                                        </div>
                                    #else
                                        #foreach($otherTessera in $summary.otherTessereData)
                                            <div class="col-md-12 col-xs-12 padding-10">
                                                <div class="col-md-4 col-xs-4 zero-padding">
                                                    <span>$otherTessera.category</span>
                                                </div>
                                                <div class="col-md-4 col-xs-4 zero-padding">
                                                    <span>$otherTessera.printedFrom</span>
                                                </div>
                                                <div class="col-md-4 col-xs-4 zero-padding">
                                                    <span>$otherTessera.date</span>
                                                </div>
                                            </div>
                                        #end
                                    #end
                                </div>


                            </div>



                        </div>
                    </div>



                    <div class='col-md-12 col-xs-12 p20'>

                        <div class="media-left pr30 pt15">
                        ##                        <a href="#">
                        ##                        ##<img class="media-object mw150" src="static/images/gallery_1.jpg" alt="..." width="165px" height="165px">
                        ##                            <i class="fa fa-phone fs30"></i>
                        ##                        </a>
                            <h3 class="media-heading pb15 pt10 pull-right text-center fs14"> CONTATTI </h3>
                        </div>

                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Telefono:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.phone)$summary.data.phone#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Cellulare:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                #if($summary.data.cellphone && $summary.data.cellphone!="") <span class="color-green pull-right">$summary.data.cellphone</span> #else <span class="color-red pull-right">Nessun numero</span> #end
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>E-mail:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.mail)$summary.data.mail#end</span>
                            </div>
                        </div>


                        <div class="media-left pr30 pt15">
                        ##                        <a href="#">
                        ##                        ##<img class="media-object mw150" src="static/images/gallery_1.jpg" alt="..." width="165px" height="165px">
                        ##                            <i class="fa fa-home fs30"></i>
                        ##                        </a>
                            <h3 class="media-heading pb15 pt10 pull-right text-center fs14"> RESIDENZA </h3>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Provincia</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.livingProvince)$summary.data.livingProvince#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Comune:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.livingPlace)$summary.data.livingPlace#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Indirizzo:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.address)$summary.data.address#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>C/O:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.addressco)$summary.data.addressco#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>CAP:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.cap)$summary.data.cap#end</span>
                            </div>
                        </div>



                        <div class="media-left pr30 pt15">
                        ##                        <a href="#">
                        ##                        ##<img class="media-object mw150" src="static/images/gallery_1.jpg" alt="..." width="165px" height="165px">
                        ##                            <i class="fa fa-info fs30"></i>
                        ##                        </a>
                            <h3 class="media-heading pb15 pt10 pull-right text-center fs14"> VARIE </h3>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Caratteristica1:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
##                                <span class="pull-right">#if($summary.data.ce)$summary.data.ce#end</span>
                                  <span class="pull-right">#if($summary.data.attribuzione1)$summary.data.attribuzione1#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Caratteristica2:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
##                                <span class="pull-right">#if($summary.data.ec)$summary.data.ec#end</span>
                                  <span class="pull-right">#if($summary.data.attribuzione2)$summary.data.attribuzione2#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Caratteristica3:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.fund)$summary.data.fund#end</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 p5 border-bottom-light-gray zero-padding">
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span>Incarico:</span>
                            </div>
                            <div class="col-md-6 col-xs-6 zero-padding">
                                <span class="pull-right">#if($summary.data.attribuzione3)$summary.data.attribuzione3#end</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-7 zero-padding">

        <div class="col-md-12 col-xs-12  main-chart" style="margin-top: 10px">


            <div class="panel">

                <div class="panel-heading">
                    <span class="panel-title">Deleghe</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerMatriceDeleghe" ></div>

                </div>

            </div>


            <div class="panel">

                <div class="panel-heading">
                    <span class="panel-title">Iscrizioni</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerMatrice" ></div>

                </div>

            </div>

            <div class="panel">

                <div class="panel-heading">
                    <span class="panel-title">Dettaglio iscrizioni</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerdettaglio" ></div>

                </div>

            </div>

            <div class="panel UNC">

                <div class="panel-heading">
                    <span class="panel-title">Deleghe UNC</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerMatriceDelegheUnc" ></div>

                </div>

            </div>

            <div class="panel Bil">

                <div class="panel-heading">
                    <span class="panel-title">Deleghe Bil</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerMatriceDelegheBil" ></div>

                </div>

            </div>


        </div>

        <div class="col-md-12 col-xs-12 webpart-list-container">



        </div>






        <div class="admin-panels-worker ui-sortable animated fadeIn">

        ##creo il profilo di layout


            <div id="grid-0" class="$widgets.calculateBootstrapClassForFirstQuadrante()  admin-grid">
                #foreach($elem in $widgets.calculateWidgetsListForQuadrante(1))

                    <div
                            class="widget panel #if($elem.present)visible#end"
                            id="p$elem.id"
                            style="display: none;"
                            data-webpart-url="${wwwBase}$elem.url"
                            data-container-widget="$elem.widgetName"
                            data-params="$elem.params">

                    </div>

                #end
            </div>

            <div id="grid-1" class="$widgets.calculateBootstrapClassForSecondQuadrante()  admin-grid">
                #foreach($elem in $widgets.calculateWidgetsListForQuadrante(2))

                    <div
                            class="widget panel #if($elem.present)visible#end"
                            id="p$elem.id"
                            style="display: none;"
                            data-webpart-url="${wwwBase}$elem.url"
                            data-container-widget="$elem.widgetName"
                            data-params="$elem.params">

                    </div>

                #end
            </div>

            <div id="grid-2" class="$widgets.calculateBootstrapClassForThirdQuadrante()  admin-grid">
                #foreach($elem in $widgets.calculateWidgetsListForQuadrante(3))

                    <div
                            class="widget panel #if($elem.present)visible#end"
                            id="p$elem.id"
                            style="display: none;"
                            data-webpart-url="${wwwBase}$elem.url"
                            data-container-widget="$elem.widgetName"
                            data-params="$elem.params">

                    </div>

                #end
            </div>

        </div>



    </div>

    <!-- Sezione pulsanti -->
    <div class="col-md-2 col-xs-12 zero-padding p10">

        <button type="button" class="btn btn-summary btn-primary deleghe">Deleghe</button>

        <button type="button" class="btn btn-summary btn-primary archiviodocumenti ">Archivio documentale</button>
        <button type="button" class="btn btn-summary btn-primary comunicazioni ">Comunicazioni</button>

        <button type="button" class="btn btn-summary btn-primary versamenti ">Storico versamenti</button>

        <button type="button" class="btn btn-summary btn-primary storico ">Storico aggiornamenti anagrafica</button>


    </div>

</div>

<script type="text/javascript">

    $(document).ready(function(){

        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="popover"]').popover({
            html: true,
            content: function() {
                return $('.popover-content-div').html();
            }
        })

    })

</script>

<script type="text/javascript">

    require([ "dashboard", "widget/real/matrice", "lavoratori/workerSummaryManager"], function(dashboardManager, manager, workerSummaryManager){

        console.log("inizializzo la dashboard");
        var dashboard = new dashboardManager.Dashboard("worker");
        dashboard.init();
        console.log("termine inizializzazione della dashboard");

        console.log('sto inizializzando la matrice.... '+ '$summary.data.id')
        var matrice = new manager.matrice('$summary.data.id');
        matrice.init();
        console.log("termine inizializzazione della matrice");

        console.log("inizializzo la tessera");
        var tessera = new workerSummaryManager.tessera();
        tessera.init();
        console.log("termine inizializzazione della dashboard");

        var name = "$summary.data.name" + " " + "$summary.data.surname";
        localStorage.setItem("workerName", name);


        var matriceDeleghe = new manager.matriceDeleghe('$summary.data.id');
        matriceDeleghe.init();

        var matriceDelegheUnc = new manager.matriceDelegheUnc('$summary.data.id');
        matriceDelegheUnc.init();

        var matriceDelegheBil = new manager.matriceDelegheBil('$summary.data.id');
        matriceDelegheBil.init();
    });

</script>
