#if($value && $value == true)
    <i class="glyphicon glyphicon-check" style="color: green;"></i>
#else
    <button type="button" class="btn btn-sm btn-primary db-imported-cell">IMPORTA</button>
#end
