<script type="text/javascript">

    require(["widgetManager"], function(manager){

        var managerInit = new manager.WidgetManager("worker");
        managerInit.init();

    });

</script>




<div class="skin-toolbox-swatches workerWidgetContainer">

        #foreach($w in $widgets.widgets)

            <div class="form-group">
                <div class="checkbox-custom fill mb5">
                    <input type="checkbox" class="chooseWidget" data-url="$w.url" data-name="$w.widgetName" #if($w.present==true) checked #end id="breadcrumb-worker-option$foreach.index">
                    <label for="breadcrumb-worker-option$foreach.index">$w.widgetName</label>
                </div>
            </div>

        #end

        </br>

    ##imposto il layoout
        <select>
            <option value="v" #if($w.layout == "v") selected="selected" #end>Verticale</option>
            <option value="h" #if($w.layout == "h") selected="selected" #end>Orizzontale</option>
            <option value="hu" #if($w.layout == "hu") selected="selected" #end>Orizz. superiores</option>
            <option value="hd" #if($w.layout == "hd") selected="selected" #end>Orizz. inferiore</option>
        </select>

</div>