#parse("/shared/framework.vm")


<div class="firm-summary-header" data-id="">

    <div class="col-md-3">

        <div class="col-md-12 p20" style="background-color: white; border-bottom: 1px solid #DDD; margin-top:10px">
            <div class="media clearfix">

                <div class="zero-padding">
                    <div class="col-md-2 col-xs-2">
                        <a href="#">
                        ##<img class="media-object mw150" src="static/images/gallery_1.jpg" alt="..." width="165px" height="165px">
                            <i class="fa fa-building fs30"></i>
                        </a>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h3 class="media-heading pl15 pt5 fs14"> DATI AZIENDA </h3>
                    </div>
                </div>


                <div class="va-m mt10">
                    <input type="hidden" name="id" id="id" value="$summary.data.id"/>

                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Descrizione:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.description)$summary.data.description#end</span>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Descrizione alternativa:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.alternativeDescription)$summary.data.alternativeDescription#end</span>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Indirizzo:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.address)$summary.data.address#end</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Città:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.city)$summary.data.city#end</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Provincia:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.province)$summary.data.province#end</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>CAP:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.cap)$summary.data.cap#end</span>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Telefono:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.phone)$summary.data.phone#end</span>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>P. Iva:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.piva)$summary.data.piva#end</span>
                        </div>
                    </div>


                    <div class="col-md-12 col-xs-12 p5 pt20 border-bottom-light-gray">
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span>Note:</span>
                        </div>
                        <div class="col-md-6 col-xs-6 zero-padding">
                            <span class="pull-right">#if($summary.data.notes)$summary.data.notes#end</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-7 zero-padding">
        <div class="col-md-12 col-xs-12  main-chart" style="margin-top: 10px">



            <div class="panel">

                <div class="panel-heading">
                    <span class="panel-title">Deleghe azienda</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerDeleghe" >

                    </div>

                </div>

            </div>

            <div class="panel">

                <div class="panel-heading">
                    <span class="panel-title">Iscritti azienda</span>
                </div>

                <div class="panel-body pn" style="border-right: 0px">

                    <div id="containerIscritti" >

                    </div>

                </div>

            </div>

        </div>
    </div>


    <!-- Sezione pulsanti -->
    <div class="col-md-2 zero-padding p10">
        <button type="button" class="btn btn-summary btn-primary firm-docs">Archivio documenti</button>

    </div>

</div>


<script type="text/javascript">

    require([ "widget/real/iscrittiAzienda", "aziende/firmSummaryManager"], function(manager, summary){

        var matrice = new manager.Iscritti('$summary.data.id');
        matrice.init();

        var matrice1 = new manager.Deleghe('$summary.data.id');
        matrice1.init();
    });

</script>