<!-- Start: Sidebar -->
<aside id="sidebar_left" class="nano nano-primary affix">
    <div class="nano-content">

        <!-- sidebar menu -->
        <ul class="nav sidebar-menu">
            ##MENU PRInCIPALE
            #if($roleid ==1)
                <li class="sidebar-label pt20">Menu</li>
                <li class="active">
                    <a href="${wwwBase}" class="framework-navigation">
                        <span class="glyphicons glyphicons-home"></span>
                        <span class="sidebar-title">Home</span>
                    </a>
                </li>

            ##sia il nazionale che l'unc hanno una diversa visualizzazione dei lavoratori
                <li class="sidebar-label pt15">Parametrizzazione</li>
                <li>
                    <a href="#/crud?e=companyuser" class="framework-navigation">
                        <span class="glyphicons glyphicons-user"></span>
                        <span class="sidebar-title">Utenti</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=company" class="framework-navigation">
                        <span class="glyphicons glyphicons-globe"></span>
                        <span class="sidebar-title">Aree</span>
                    </a>
                </li>
                <li>
                    <a href="#/tracelogins" class="framework-navigation">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="sidebar-title">Tracciatura Login</span>
                    </a>
                </li>
            #end





            #if($roleid == 2)
                <li class="sidebar-label pt20">Menu</li>
                <li class="active">
                    <a href="${wwwBase}" class="framework-navigation">
                        <span class="glyphicons glyphicons-home"></span>
                        <span class="sidebar-title">Home</span>
                    </a>
                </li>

            ##sia il nazionale che l'unc hanno una diversa visualizzazione dei lavoratori

                <li class="sidebar-label pt15">Parametrizzazione</li>
                <li>
                    <a href="#/users" class="framework-navigation">
                        <span class="glyphicons glyphicons-user"></span>
                        <span class="sidebar-title">Utenti</span>
                    </a>
                </li>
            #end




            #if($roleid ==3)
                <li class="active">
                    <a href="${wwwBase}" class="framework-navigation">
                        <span class="fa fa-desktop"></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchworkers" class="framework-navigation">
                        <span class="glyphicons glyphicons-group"></span>
                        <span class="sidebar-title">Lavoratori</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchfirms" class="framework-navigation">
                        <span class="glyphicons glyphicons-building"></span>
                        <span class="sidebar-title">Aziende</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchlistelavoro" class="framework-navigation">
                        <span class="glyphicons glyphicons-notes"></span>
                        <span class="sidebar-title">Liste di lavoro</span>
                    </a>
                </li>
                <li class="sidebar-label pt20">Quote associative</li>
                <li class="">
                    <a href="#/quoteassociative" class="framework-navigation">
                        <span class="fa fa-eur"></span>
                        <span class="sidebar-title">Visualizza Quote associative</span>
                    </a>
                </li>
                <li class="sidebar-label pt15">REPORT</li>

            ##DELEGHE
                <li>
                    <a class="accordion-toggle" href="#" title="nominativi di lavoratori inseriti dagli Operatori Intercategoriali Uil Artigianato">
                        <span class="glyphicons glyphicons-edit"></span>
                        <span class="sidebar-title">Deleghe</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportdeleghe" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotdeleghe" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogodeleghe" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotrapp" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi per rappresentanza</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogorapp" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo per rappresentanza</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##ISCRITTI
                <li>
                    <a class="accordion-toggle" href="#" title="deleghe che hanno dato luogo ad un pagamento di quota tessera">
                        <span class="glyphicons glyphicons-adress_book"></span>
                        <span class="sidebar-title">Iscritti</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportiscritti" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivot" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogo" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
            ##PROVENIENZAUNC
                <li>
                    <a class="accordion-toggle" href="#" title="dati trasmessi dalle UNC che gestiscono direttamente il tesseramento">
                        <span class="fa fa-archive"></span>
                        <span class="sidebar-title">Provenienza UNC</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportprovenienzaunc" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotprovenienzaunc" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogoprovenienzaunc" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##PROVBILAT
                <li>
                    <a class="accordion-toggle" href="#"  title="lavoratori contattati tramite la bilateralità">
                        <span class="glyphicons glyphicon-retweet"></span>
                        <span class="sidebar-title">Provenienza Bilateralità</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportprovenienzabilat" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotprovenienzabilat" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogoprovenienzabilat" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##TOTALE
                <li>
                    <a class="accordion-toggle" href="#">
                        <span class="glyphicons glyphicons-more_items"></span>
                        <span class="sidebar-title">Totale</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reporttotale" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivottotale" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogototale" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/reportiqa" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report quote</span>
                    </a>
                </li>
                <li class="sidebar-label pt15">CAUSALI</li>
                <li>
                    <a href="#/crud?e=signupdelegationreason" class="framework-navigation">
                        <span class="fa fa-flag-o"></span>
                        <span class="sidebar-title">Causali iscrizione delega</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=revocationreason" class="framework-navigation">
                        <span class="fa fa-flag-o"></span>
                        <span class="sidebar-title">Causali revoca</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=documenttype" class="framework-navigation">
                        <span class="fa fa-folder-open-o"></span>
                        <span class="sidebar-title">Tipi documento</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=attribuzione1" class="framework-navigation">
                        <span class="fa fa-bank"></span>
                        <span class="sidebar-title">Gruppo caratteristiche1</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=attribuzione2" class="framework-navigation">
                        <span class="fa fa-bank"></span>
                        <span class="sidebar-title">Gruppo caratteristiche2</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=fund" class="framework-navigation">
                        <span class="fa fa-bank"></span>
                        <span class="sidebar-title">Gruppo caratteristiche3</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=attribuzione3" class="framework-navigation">
                        <span class="fa fa-bank"></span>
                        <span class="sidebar-title">Incarichi</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=communicationtype" class="framework-navigation">
                        <span class="fa fa-bullhorn"></span>
                        <span class="sidebar-title">Tipi comunicazione</span>
                    </a>
                </li>
                <li>
                    <a href="#/crud?e=communicationreason" class="framework-navigation">
                        <span class="fa fa-flag-o"></span>
                        <span class="sidebar-title">Causali comunicazione</span>
                    </a>
                </li>

            #end


            #if($roleid == 4)
                <li class="sidebar-label pt20">Menu</li>
            ##segretario , funzionario1 e 2 della categoria, caf, ital e segretario e funzionario uil provinciale
                <li class="active">
                    <a href="${wwwBase}" class="framework-navigation">
                        <span class="fa fa-desktop"></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchworkers" class="framework-navigation">
                        <span class="glyphicons glyphicons-group"></span>
                        <span class="sidebar-title">Lavoratori</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchfirms" class="framework-navigation">
                        <span class="glyphicons glyphicons-building"></span>
                        <span class="sidebar-title">Aziende</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchlistelavoro" class="framework-navigation">
                        <span class="glyphicons glyphicons-notes"></span>
                        <span class="sidebar-title">Liste di lavoro</span>
                    </a>
                </li>
                <li class="sidebar-label pt15">REPORT</li>
                <li>
                    <a href="#/reportiscritti" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report iscritti</span>
                    </a>
                </li>
                <li>
                    <a href="#/reportdeleghe" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report deleghe</span>
                    </a>
                </li>
                <li>
                    <a href="#/reportiqa" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report quote</span>
                    </a>
                </li>
                <li>
                    <a href="#/reportdocumenti" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report documenti</span>
                    </a>
                </li>
                <li>
                    <a href="#/reportdocumentiazienda" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report documenti azienda</span>
                    </a>
                </li>
                <li>
                    <a href="#/reportcomunicazioni" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report comunicazioni</span>
                    </a>
                </li>
            #end


            #if($roleid == 5)
                <li class="sidebar-label pt20">Menu</li>
            ##segretario , funzionario1 e 2 della categoria, caf, ital e segretario e funzionario uil provinciale
                <li class="active">
                    <a href="${wwwBase}" class="framework-navigation">
                        <span class="fa fa-desktop"></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchworkersnazionale" class="framework-navigation">
                        <span class="glyphicons glyphicons-group"></span>
                        <span class="sidebar-title">Lavoratori</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchfirmsnazionale" class="framework-navigation">
                        <span class="glyphicons glyphicons-building"></span>
                        <span class="sidebar-title">Aziende</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchlistelavoro" class="framework-navigation">
                        <span class="glyphicons glyphicons-notes"></span>
                        <span class="sidebar-title">Liste di lavoro</span>
                    </a>
                </li>
                <li class="sidebar-label pt20">Quote associative</li>
                <li class="">
                    <a href="#/quoteassociative" class="framework-navigation">
                        <span class="fa fa-eur"></span>
                        <span class="sidebar-title">Visualizza Quote associative</span>
                    </a>
                </li>

                <li class="">
                    <a href="#/importquotegenerali" class="framework-navigation">
                        <span class="fa fa-check-square-o"></span>
                        <span class="sidebar-title">Importa quote associative</span>
                    </a>
                </li>
                <li class="">
                    <a href="#/importdatiunc" class="framework-navigation">
                        <span class="fa fa-check-square-o"></span>
                        <span class="sidebar-title">Importa dati Unc</span>
                    </a>
                </li>
                <li class="">
                    <a href="#/importdatibil" class="framework-navigation">
                        <span class="fa fa-check-square-o"></span>
                        <span class="sidebar-title">Importa dati Bilateralità</span>
                    </a>
                </li>
                <li class="">
                    <a href="#/quoteimpianti" class="framework-navigation">
                        <span class="fa fa-tasks"></span>
                        <span class="sidebar-title">Crea quote per azienda</span>
                    </a>
                </li>
                <li class="">
                    <a href="#/quoteimpiantinew" class="framework-navigation">
                        <span class="fa fa-tasks"></span>
                        <span class="sidebar-title">Crea quote per azienda (new)</span>
                    </a>
                </li>
                <li class="">
                    <a href="#/crud?e=bonifico" class="framework-navigation">
                        <span class="fa fa-tasks"></span>
                        <span class="sidebar-title">Visualizzazione bonifici</span>
                    </a>
                </li>
                <li>
                    <a class="accordion-toggle" href="#" title="nominativi di lavoratori inseriti dagli Operatori Intercategoriali Uil Artigianato">
                        <span class="glyphicons glyphicons-edit"></span>
                        <span class="sidebar-title">Deleghe</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportdeleghe" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotdeleghe" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogodeleghe" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotrapp" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi per rappresentanza</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogorapp" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo per rappresentanza</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##ISCRITTI
                <li>
                    <a class="accordion-toggle" href="#" title="deleghe che hanno dato luogo ad un pagamento di quota tessera">
                        <span class="glyphicons glyphicons-adress_book"></span>
                        <span class="sidebar-title">Iscritti</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportiscritti" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivot" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogo" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/reportiqa" class="framework-navigation">
                        <span class="fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Report quote</span>
                    </a>
                </li>
                <li>
                    <a class="accordion-toggle" href="#" title="dati trasmessi dalle UNC che gestiscono direttamente il tesseramento">
                        <span class="fa fa-archive"></span>
                        <span class="sidebar-title">Provenienza UNC</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportprovenienzaunc" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotprovenienzaunc" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogoprovenienzaunc" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="accordion-toggle" href="#"  title="lavoratori contattati tramite la bilateralità">
                        <span class="glyphicons glyphicon-retweet"></span>
                        <span class="sidebar-title">Provenienza Bilateralità</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportprovenienzabilat" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotprovenienzabilat" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogoprovenienzabilat" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##TOTALE
                <li>
                    <a class="accordion-toggle" href="#">
                        <span class="glyphicons glyphicons-more_items"></span>
                        <span class="sidebar-title">Totale</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reporttotale" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivottotale" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogototale" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
            #end


            #if($roleid == 6)
                <li class="sidebar-label pt20">Menu</li>
            ##segretario , funzionario1 e 2 della categoria, caf, ital e segretario e funzionario uil provinciale
                <li class="active">
                    <a href="${wwwBase}" class="framework-navigation">
                        <span class="fa fa-desktop"></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#/searchlistelavoro" class="framework-navigation">
                        <span class="glyphicons glyphicons-notes"></span>
                        <span class="sidebar-title">Liste di lavoro</span>
                    </a>
                </li>
                <li class="sidebar-label pt15">REPORT</li>
            ##DELEGHE
                <li>
                    <a class="accordion-toggle" href="#" title="nominativi di lavoratori inseriti dagli Operatori Intercategoriali Uil Artigianato">
                        <span class="glyphicons glyphicons-edit"></span>
                        <span class="sidebar-title">Deleghe</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportdeleghe" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotdeleghe" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogodeleghe" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotrapp" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi per rappresentanza</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogorapp" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo per rappresentanza</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##ISCRITTI
                <li>
                    <a class="accordion-toggle" href="#" title="deleghe che hanno dato luogo ad un pagamento di quota tessera">
                        <span class="glyphicons glyphicons-adress_book"></span>
                        <span class="sidebar-title">Iscritti</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportiscritti" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivot" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogo" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
            ##PROVENIENZAUNC
                <li>
                    <a class="accordion-toggle" href="#" title="dati trasmessi dalle UNC che gestiscono direttamente il tesseramento">
                        <span class="fa fa-archive"></span>
                        <span class="sidebar-title">Provenienza UNC</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportprovenienzaunc" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotprovenienzaunc" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogoprovenienzaunc" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##PROVBILAT
                <li>
                    <a class="accordion-toggle" href="#"  title="lavoratori contattati tramite la bilateralità">
                        <span class="glyphicons glyphicon-retweet"></span>
                        <span class="sidebar-title">Provenienza Bilateralità</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reportprovenienzabilat" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivotprovenienzabilat" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogoprovenienzabilat" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>

            ##TOTALE
                <li>
                    <a class="accordion-toggle" href="#">
                        <span class="glyphicons glyphicons-more_items"></span>
                        <span class="sidebar-title">Totale</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav" style="">
                        <li class="active">
                            <a href="#/reporttotale" class="framework-navigation">
                                <span class="fa fa-bar-chart-o"></span>
                                <span class="sidebar-title">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/pivottotale" class="framework-navigation">
                                <span class="glyphicons glyphicons-stats"></span>
                                <span class="sidebar-title">Analisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/riepilogototale" class="framework-navigation">
                                <span class="glyphicons glyphicons-pie_chart"></span>
                                <span class="sidebar-title">Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                </li>
            #end
                <script>
                    $(document).ready(function(){
                        var btnStampaCompleta = $('<div class="col-md-12 col-xs-12 margin-bottom-10 p0 complete-print" title="" data-placement="top" data-toggle="tooltip" data-original-title="[data-toggle="tooltip"]">'+
                                '<button class="btn btn-primary full-width complete-print-btn" type="button">'+
                                '<span class="glyphicon glyphicon-print" aria-hidden="true"></span>'+
                                '</button>'+
                                '</div>');

                        btnStampaCompleta.tooltip();
                    });
                </script>
        </ul>

        <div class="sidebar-toggle-mini">
            <a href="#">
                <span class="fa fa-sign-out"></span>
            </a>
        </div>
    </div>
</aside>
