<div style="margin:20px;">
    <div id="pivotgrid-chart" style="margin-top: 20px;"></div>
    <div id="grid"></div>
</div>

<script type="text/javascript">

    require(["analisi/pivotProvUnc"], function(pivotManager){

        var pivot = new pivotManager.Pivot("$datasource");
        pivot.init();

    });


</script>
