#if(!$_type)
    #set($_type = "text")
#end

#if(!$_component)
    #set($_component = "text")
#end

#if(!$_icon)
    #set($_icon = false)
#end

#if ($field.params.type)
    #set($_type = $field.params.type)
#elseif(!$_type)
    #set($_type = "")
#end

#if ($field.params.component)
    #set($_component = $field.params.component)
#elseif(!$_component)
    #set($_component = "")
#end

#if ($field.params.icon)
    #set($_icon = $field.params.icon)
#elseif(!$_icon)
    #set($_icon = false)
#end

#if ($field.params.inputExtraClass)
    #set($_inputExtraClass = $field.params.inputExtraClass)
#elseif(!$_inputExtraClass)
    #set($_inputExtraClass = "")
#end

#if ($field.params.fieldExtraClass)
    #set($_fieldExtraClass = $field.params.fieldExtraClass)
#elseif(!$_fieldExtraClass)
    #set($_fieldExtraClass = "")
#end

#if ($field.params.cols)
    #set($_colsClass = "col-md-" + $field.params.cols)
#elseif(!$_colsClass)
    #set($_colsClass = "col-md-12")
#end

#if ($field.description && $field.description != "")
    #set($_description = $localization.m($field.description))
#else
    #set($_description = false)
#end

#if ($field.params.placeholder)
    #set($_placeholder = $localization.m($field.params.placeholder))
#else
    #set($_placeholder = "")
#end

#set($_domId = "id_" + $field.property)

<div class="$_fieldExtraClass $_colsClass mt20" data-component="field" data-property="$field.property">
    <div class="row">

        <div class="col-md-12">
            <label class="mr10 va-m" data-component="error_state" data-error-property="$field.property">
                <input
                        type="checkbox"
                        name="$field.property"
                ##data-component="$_component"
                        class="field $_inputExtraClass">
            </label>
            <label>
                $_description
            </label>
        </div>
    </div>
</div>
