#if ($field.params.inputExtraClass)
    #set($_inputExtraClass = $field.params.inputExtraClass)
#elseif(!$_inputExtraClass)
    #set($_inputExtraClass = "")
#end

#if ($field.params.fieldExtraClass)
    #set($_fieldExtraClass = $field.params.fieldExtraClass)
#elseif(!$_fieldExtraClass)
    #set($_fieldExtraClass = "")
#end

#if ($field.description && $field.description != "")
    #set($_description = $localization.m($field.description))
#else
    #set($_description = false)
#end

#if ($field.params.placeholder)
    #set($_placeholder = $localization.m($field.params.placeholder))
#else
    #set($_placeholder = "")
#end

#if ($field.params.cols)
    #set($_colsClass = "col-md-" + $field.params.cols)
#elseif(!$_colsClass)
    #set($_colsClass = "col-md-12")
#end

#set($_domId = "id_" + $field.property)

<div class="$_fieldExtraClass $_colsClass" data-component="field" data-property="$field.property" style="height: 190px;">
    <div class="row">

        <div class="col-md-12 mr5 mt5">
            <div data-component="error_state" data-error-property="$field.property">
                <div class="input-group col-md-12">
                    <div class="col-md-2 field-label text-right mt20">
                        <label for="id_type">
                            Tipologia
                        </label>
                    </div>
                    <div class="col-md-10">
                        <label class="field state-error" data-component="error_state" data-error-property="$field.property">
                        ## Layout verticale IMG | TESTO
                            <div class="col-md-3 email-layout-type zero-padding">
                                <div class="col-md-5 layout-portion" style="height: 100%; padding: 30px;">
                                    IMG
                                </div>
                                <div class="col-md-7 layout-portion" style="height: 100%; padding: 30px;">
                                    TESTO
                                </div>
                                <div class="col-md-12 mt10">
                                    <input type="radio" name="$field.property" value="TIPO1" #if($value=="TIPO1")checked#end>
                                </div>
                            </div>

                        ## Layout orizzontale IMG | TESTO | IMG
                            <div class="col-md-3 email-layout-type zero-padding">
                                <div class="col-md-12 layout-portion" style="padding: 7px;">
                                    IMG
                                </div>
                                <div class="col-md-12 layout-portion" style="padding: 18px;">
                                    TESTO
                                </div>
                                <div class="col-md-12 layout-portion" style="padding: 7px;">
                                    IMG
                                </div>
                                <div class="col-md-12 mt10">
                                    <input type="radio" name="$field.property" value="TIPO2" #if($value=="TIPO2")checked#end>
                                </div>
                            </div>

                        ## Layout orizzontale IMG | TESTO
                            <div class="col-md-3 email-layout-type zero-padding">
                                <div class="col-md-12 layout-portion" style="padding: 11px;">
                                    IMG
                                </div>
                                <div class="col-md-12 layout-portion" style="padding: 30px;">
                                    TESTO
                                </div>
                                <div class="col-md-12 mt10">
                                    <input type="radio" name="$field.property" value="TIPO3" #if($value=="TIPO3")checked#end>
                                </div>
                            </div>
                        </label>
                        <em
                                for="$_domId"
                                class="state-error"
                                data-component="error"
                                data-error-property="$field.property">
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        // Solo il layout orizzonatle di TIPO2 (Img-Testo-Img) ha due immagini da poter selezionare,
        // negli altri casi nascondo la selezione della seconda immagine
        $('input[name="type"]').change(function() {
            var checkedValue = $('input[name="type"]:checked').val();

            if (checkedValue != "TIPO2")
                $('div[data-property="imagePath2"]').hide().find("input").val("");
            else
                $('div[data-property="imagePath2"]').show();
        }).change();

    });

</script>